---
layout: default
title: Teams
---
<!-- Teams Section -->
    <section id="teams" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2 class="section-heading">Teams</h2>
                    <h3 class="section-subheading text-muted">GIT House Teams</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p>
                        Students who have progressed through Glasgow Improv Theatre courses will have the opportunity to audition for a GIT House Team.
                    </p>
                    <p>
                        We will hold auditions every year for house teams, taking a GIT class is not necessary to audition but improv experience is.
                    </p>
                    <p>
                        There will be slots for teams to perform at Glasgow Harold Night, with an opportunity to be on a house team. We will also offer coaching and guidance for our teams.
                    </p>
                    <p>
                        
                        GIT Performers Code of Conduct: 
                        <a href="/code-of-conduct#performer" class="btn btn-info btn-sm">Code of Conduct</a>
                    </p>
                </div>
            </div>
            <br /> <br />
            {% for team in site.teams %}
                    
                <div class="row">
                    <div class="col-lg-12 ">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ team.icon }} fa-stack-1x fa-inverse"></i>
                        </span>

                        <h3 class="section-heading">{{ team.name }}</h3>
                        <ul class="list-group list-group-horizontal">
                            {% for social in team.socials %}
                                <a href="{{ social.url }}">
                                    <li class="list-group-item">
                                        <i class="fab fa-{{ social.title }} text-primary"></i>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br /> <br />
            
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {{ team.description }}
                </div>
            </div>
            <br /> <br />
            {% endfor %}

            <div class="row">
                <div class="col-lg-12 ">
                    <h2 class="section-subheading text-muted">Former GIT House Teams (2022-2023)</h3>
                </div>
            </div>

            <br />
            {% for team in site.former-teams %}
                    
                <div class="row">
                    <div class="col-lg-12 ">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ team.icon }} fa-stack-1x fa-inverse"></i>
                        </span>

                        <h3 class="section-heading">{{ team.name }}</h3>
                        <ul class="list-group list-group-horizontal">
                            {% for social in team.socials %}
                                <a href="{{ social.url }}">
                                    <li class="list-group-item">
                                        <i class="fab fa-{{ social.title }} text-primary"></i>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br /> <br />
            
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    {{ team.description }}
                </div>
            </div>
            <br />
            {% endfor %}
        </div>
    </section>
